{% extends "layout.html" %}

{% block title %}About - Gus Poer{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>About</h1>

    <div class="container main-content">
        <div class="row">
            <div class="col-md-12">
                <h2>Tentang Agus Purwanto</h2>
                <p>Halo, saya Agus Purwanto, seorang pengembang Python dengan pengalaman lebih dari 5 tahun
                    dalam merancang dan mengembangkan solusi perangkat lunak yang inovatif dan efisien. Keahlian saya
                    mencakup berbagai aspek pemrograman Python, mulai dari pengembangan aplikasi web hingga analisis
                    data dan otomatisasi.</p>

                <h3>Keahlian Utama:</h3>
                <ul>
                    <li><strong>Pengembangan Aplikasi Web:</strong> Berpengalaman dalam menggunakan framework seperti
                        Django dan Flask untuk membangun aplikasi web yang kuat dan responsif.</li>
                    <li><strong>Analisis Data:</strong> Menguasai alat dan pustaka seperti Pandas, NumPy, dan Matplotlib
                        untuk memproses dan menganalisis data besar.</li>
                    <li><strong>Automatisasi dan Scripting:</strong> Mampu membuat skrip Python untuk otomatisasi proses
                        bisnis dan integrasi sistem.</li>
                    <li><strong>Pengembangan API:</strong> Keterampilan dalam merancang dan mengembangkan API RESTful
                        untuk berbagai kebutuhan aplikasi.</li>
                </ul>


                <h3>Pendekatan Kami:</h3>
                <p>Saya berfokus pada solusi yang memenuhi kebutuhan spesifik klien dengan pendekatan yang detail dan
                    terstruktur. Saya percaya pada pentingnya komunikasi yang efektif dan pemahaman yang mendalam
                    tentang masalah yang dihadapi untuk memberikan hasil terbaik.</p>

                <h3>Mengapa Memilih Saya:</h3>
                <ul>
                    <li><strong>Keahlian Teknis:</strong> Pengalaman luas dalam berbagai teknologi dan pustaka Python.
                    </li>
                    <li><strong>Pendekatan Kolaboratif:</strong> Bekerja sama dengan klien untuk memastikan solusi yang
                        dirancang sesuai dengan harapan dan kebutuhan mereka.</li>
                    <li><strong>Komitmen terhadap Kualitas:</strong> Selalu berusaha memberikan hasil yang berkualitas
                        tinggi dan mematuhi tenggat waktu.</li>
                </ul>

                <p>Jika Anda tertarik untuk bekerja sama atau memiliki pertanyaan lebih lanjut tentang proyek atau
                    layanan saya, jangan ragu untuk menghubungi saya melalui <a
                        href="mailto:agus.p.wan.2@gmail.com">email</a> atau <a href="https://wa.me/6282244197463">kontak
                        WA</a>.</p>

                <p>Terima kasih telah mengunjungi portofolio saya. Saya menantikan kesempatan untuk bekerja sama dan
                    membantu Anda mencapai tujuan teknis Anda.</p>
            </div>
        </div>
    </div>

</div>
{% endblock %}