{% extends "layout.html" %}

{% block title %}Application - Gus Poer{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Application List</h1>
    <ul class="list-group">
        <li class="list-group-item">
            <a class="link-primary" href="{{ url_for('main.dgs') }}">Download Google Sheet as XLSX</a>
        </li>
        <li class="list-group-item">
            <a class="link-primary" href="{{ url_for('main.upload_and_send') }}">Upload XLSX and Send to Google Sheets</a>
        </li>
        <li class="list-group-item">
            <a class="link-primary" href="{{ url_for('main.convert_csv_to_xlsx') }}">Convert csv to xlsx</a>
        </li>
        <li class="list-group-item">
            <a class="link-primary" href="{{ url_for('main.combine_xlsx') }}">Combine xlsx</a>
        </li>
    </li>
    <li class="list-group-item">
        <a class="link-primary" href="{{ url_for('main.download_files') }}">Download Files from Google Drive</a>
    </li>
    </ul>
</div>
{% endblock %}
