{% extends "layout.html" %}

{% block title %}Application - Gus Poer{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Application List</h1>
    <ul class="list-group">
        <li class="list-group-item">
            <a class="link-primary" href="{{ url_for('main.dgs') }}">Download Google Sheet as XLSX</a>
        </li>
        <li class="list-group-item">
            <a class="link-primary" href="{{ url_for('main.upload_and_send') }}">Upload XLSX and Send to Google Sheets</a>
        </li>
    </ul>
</div>
{% endblock %}
